@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
body{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
*{outline: none;border: none;}
img{max-width: 100%;}
strong{font-weight: 700;}
header{background-image: url(images/header_bg.jpg);background-size: cover;background-repeat: no-repeat;background-position: top center;}
.main_header{padding:40px 50px;}
.logo{float: left;}
.navigation{float: right;margin-top: 20px;}
.navigation ul{margin: 0px;padding: 0px;}
.navigation ul li{display: inline-block;padding: 0px;}
.navigation ul li a{font-family: "Montserrat";font-weight: 700;color: #130b12;text-transform: uppercase;font-size: 15px;padding:5px 20px;border: 2px solid transparent;border-radius: 15px;text-decoration: none;}
.navigation ul li a:hover{border-color: #e8000f;}
.header_container{width: 1335px;max-width: 100%;margin: 0 auto;padding: 30px 15px;}
.brushesmain{text-align: center;}
.brushes{display: inline-block;vertical-align: top;width: 242px;max-width: 32%;}
.brush_title{font-size: 29px;color: #000000;padding-top: 20px;text-transform: uppercase;}
.header_tagline{text-align: center;}
.header_tagline h1{font-size: 57px;color: #130b12;font-weight: 300;padding-top: 30%;}
.header_tagline h1 span{font-weight: 700;display: block;padding-top: 20px;}
.button_custom a{display: inline-block;background-color: #e8000f;color: #ffffff;text-decoration: none;padding: 15px 40px;font-size: 17px;text-transform: uppercase;letter-spacing: 3px;border-radius: 25px;margin-top: 40px;}
.toggle_button{display: none;float: right;cursor: pointer;}
.toggle_button i{font-size: 22px;}

.about{background-image: url(images/about.jpg);background-repeat: no-repeat;background-size: cover;background-position: center top;}
.about_container{width: 1350px;max-width: 100%;margin: 0 auto;padding: 70px 15px;}
.section_heading{margin-bottom: 40px;}
.section_heading h2{font-size: 48px;display: inline-block;font-weight: 300;}
.section_heading h2 span{display: block;width: 120px;height: 3px;background-color: #e8000f;margin: 0 auto;margin-top: 10px;}
.section_content p{font-weight: 300;}

.specification{background-image: url(images/specification.jpg);background-repeat: no-repeat;background-size: cover;background-position: center top;padding:50px 0px}
.specification_list ul{padding: 0px;}
.specification_list ul ul{padding-left: 40px;}
.specification_list ul li{font-weight: 300;padding-top: 10px;padding-bottom: 10px;}

.brush_heads{background-image: url(images/brush_heads.jpg);background-repeat: no-repeat;background-size: cover;background-position: center top;padding:50px 0px;}
.section_heading.aligncenter{text-align: center;}
.section_heading.inverse h2{color: #ffffff;}
.section_heading.inverse h2 span{background-color: #ffffff;}
.main_container{width: 1170px;margin: 0 auto;max-width: 100%;padding: 0px 15px;}
.brush_head_content{padding: 30px 0px;}
.boxed_layout{padding: 45px;background-color: #ffffff;text-align: center;height: 90%;margin-top: 20px;}
.boxed_layout.redbox{margin-top: 0px;height: 100%;background-color: #e8000f;color: #ffffff;border: 4px solid #ffffff;box-shadow: 5px 3px 30px rgba(0,0,0,0.7);}
.boxed_layout h3{text-align: center;font-size: 24px;text-transform: uppercase;font-weight: 700;}
.boxed_layout h3 span{display: block;width: 50px;height: 3px;background-color: #e8000f;margin: 0 auto;margin-top: 10px;}
.boxed_layout .boxcontent{color: #211312;font-weight: 300;padding-top: 20px;line-height: 34px;}
.boxed_layout.redbox h3{color: #ffffff;}
.boxed_layout.redbox h3 span{background-color: #ffffff;}
.boxed_layout.redbox .boxcontent{color: #ffffff;}

.diferrence{background-image: url(images/diferrence.jpg);background-repeat: no-repeat;background-size: cover;background-position: center top;padding:50px 0px;}
.regular{font-size: 26px;text-transform: uppercase;}
.regular h4{font-weight: 700;font-size: 26px;margin-bottom: 20px;}
.textright{text-align: right;}
.diferrencetwo{background-image: url(images/difference2.jpg);background-repeat: no-repeat;background-size: cover;background-position: center top;padding: 1px 0px;}
.left_col{width: 362px;max-width: 100%;}
.right_col{text-align: right;}
.devider{margin-top: -3.5%;}
.addpadding{padding-top: 20px;padding-bottom:50px;}
.diff_text{padding: 12px 0px;font-size:24px;text-align:center;box-shadow: 5px 3px 30px rgba(0,0,0,0.5);background-color:#ffffff;margin-top: -30px;position: relative;text-transform: uppercase;}
.fixedbox{width: 367px;display: inline-block;margin-top: -40px;vertical-align: top;max-width: 100%;}
.innerbox{padding: 8px 30px;display: inline-block;background-color: rgba(255,255,255,0.5);font-size: 26px;color: #ffffff;font-weight: 300;margin-right: 8%;vertical-align: top;margin-top: -5px;text-align: center;}
.right_col p{font-size: 23px;color: #ffffff;padding-top: 50px;font-weight: 300;text-transform: uppercase;}

.features{background-image: url(images/features.jpg);background-repeat: no-repeat;background-size: cover;background-position: center top;padding: 50px 0px;}
.featurebox{padding: 25px;background-color: rgba(255,255,255,0.7);color: #757575;line-height: 30px;height: 100%;}
.featurebox strong{color: #000000;}
.featurebox p{margin-bottom: 20px;}

.toothbrushes{background-image: url(images/brush_bg.jpg);background-repeat: no-repeat;background-size: cover;background-position: center top;padding: 50px 0px;}
.bottomsection .brushes{width: 342px;}
.bottomsection .brushes .brush_title{font-size: 18px;}
.bottomsection .brushes .pricetag{font-size: 24px;font-weight: 500;}

.contact{background-image: url(images/get_in_touch.jpg);background-repeat: no-repeat;background-size: cover;background-position: center top;padding: 70px 0px;}
.contact_form .textbox{width: 100%;height: 60px;border: none;border-bottom: 1px solid #ffffff;background-color: transparent;color: #ffffff;}
textarea.textbox{margin-top: 100px;}
.contact_form .button_custom{text-align: right;}
.button_custom input[type="submit"]{display: inline-block;background-color: #e8000f;color: #ffffff;text-decoration: none;padding: 15px 40px;font-size: 17px;text-transform: uppercase;letter-spacing: 3px;border-radius: 25px;margin-top: 40px;border: none;}

.contact_info{font-weight:300;color: #ffffff;line-height: 30px;margin-bottom: 50px;}
.contact_info h5{font-weight: 700;text-transform: uppercase;}
footer{background-color: #000000;color: #ffffff;font-weight: 300;padding: 25px 0px;font-size: 14px;letter-spacing: 2px;}
footer a{color: #ffffff;text-decoration: none;}
footer a:hover{color: #ffffff;}
.social_icons a{font-size: 25px;margin-left: 20px;float: left;text-decoration: none;}
.social_icons a i{display: block;}
#scrollUp:before {font-family: FontAwesome;font-size: 15px;display: block;content: '\f062';}
#scrollUp {bottom: 20px;right: 20px;padding: 8px 12px; background: #6b68687a;color: #fff; border-radius: 50px ;
}
#scrollUp:hover{text-decoration: none;}
.status{
  color: #fff;
  font-size: 19px;
  background-color: #aba8aa61;
  padding: 10px;
  margin-bottom: 20px;
  display: none;
}

@media all and (max-width : 1335px)
{
    .navigation ul li a{font-size: 13px;padding: 5px 10px;}
}
@media all and (max-width : 1024px)
{
    .brush_title{font-size: 20px;}
    .toggle_button{display: block;margin-top: 18px;margin-right: 10px;}
    .navigation{display: none;position: absolute;top: 60px;left: 0px;right: 0px;background-color: #ffffff;z-index: 1;}
    .navigation ul li{display: block;}
    .navigation ul li a{display: block;}
    .navigation ul li a:hover{border-color: transparent;}
}
@media all and (max-width : 769px)
{
    .main_header{padding: 10px;}
    footer .pull-left,footer .pull-right{float: none;text-align: center;}
    .social_icons{width: 200px;margin: 0 auto;margin-top: 20px;}
}
@media all and (max-width : 767px)
{
   .devider{display:none;}
   .innerbox{display: block;margin-left: 40px;margin-right: 40px;}
   .brush_title{font-size: 13px;}
   .header_tagline h1{font-size: 35px;}
   .section_heading h2{font-size: 28px;display: block;text-align: center;}
   .specification .about_container{padding: 0px 15px;}
   .specification_list ul li{list-style: inside;}
   .regular.textright{text-align: left;}
   .left_col{margin-bottom: 20px;}
   .bottomsection .brushes .brush_title{font-size: 13px;}
   .bottomsection .brushes .pricetag{font-size: 18px;}
}